<% title "Let's Share!" %>


  <div id="item_list">
      <% @items.each do |item| %>
      <div class="dl_item">
        <div class="dt_item">
          <table width='100%' height='100%'><tr><td vertical-align='middle'><%=link_to image_tag(item.thumb_url), item_path(item) %></td></tr></table>
        </div>
        <div class="dd_item">
          <%= link_to h(trim_string(item.name)), item_path(item) %>
        </div>
      </div>
      <% end %>
      <br/>
      <div id="page_link">
        <%= will_paginate @items %>
      </div>
  </div>

  <div id="side_bar">
    <div id="search_form">
      <%= render :partial => 'search_form' %>
    </div>
    <div id="tag_cloud">
      <h2> Tag Cloud:</h2>
      <% tag_cloud @tags, %w(css1 css2 css3 css4) do |tag, css_class| %>
      <%= link_to tag.name, { :action => :tag, :id => tag.name }, :class => css_class %>
      <% end %>
    </div>

      <h2> I have sth. to share: </h2>
    <div id="share_form">

      <%= render :partial => 'form' %>
    </div>

  </div>

  <div id="footer"/>


