<% title "Let's Share" %>
  <div class="item_list">
    <table width="100%">
      <% @items.each do |item| %>
      <tr>
        <td class="thumb">
          <%=link_to image_tag(item.thumb_url), item_path(item) %>
        </td>
        <td class="detail">
          <h3><%= link_to h(item.name), item_path(item) %></h3>
          <%= h item.description %>
        </td>
      </tr>
      <tr>
        <td colspan='2'>
          <hr width='100%'/>
        </td>
      </tr>
      <% end %>
    </table>
    <%= will_paginate @items %>
  </div>

  <%= link_to 'I want to Share something', new_item_path %>
  <div id="tag_cloud">
    <h2> Tag Cloud:</h2>
    <% tag_cloud @tags, %w(css1 css2 css3 css4) do |tag, css_class| %>
    <%= link_to tag.name, { :action => :tag, :id => tag.name }, :class => css_class %>
    <% end %>
  </div>


  <div id="footer"/>


