<h1>Listing items</h1>

<div id="main">
  <div class="item_list">
    <table>
      <% @items.each do |item| %>
      <tr>
        <td class="thumb">
          <%= image_tag item.thumb_url %>
        </td>
        <td class="detail">
          <h3><%= h item.name %></h3>
          <%= h item.description %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>

  <div id="tag_cloud">
    <b> Tag Cloud:</b>
    <% tag_cloud @tags, %w(css1 css2 css3 css4) do |tag, css_class| %>
    <%= link_to tag.name, { :action => :tag, :id => tag.name }, :class => css_class %>
    <% end %>
  </div>

  <br/>
  <%= link_to 'New item', new_item_path %>
</div>

