<p>
  <b>Name:</b>
  <%=h @item.name %>
</p>
<p>
  <%= image_tag @item.thumb_url %>
<p>
  <b>Description:</b>
  <div class="description">
    <%=h @item.description %>
  </div>
</p>

<p>
  <b>tagged with:</b>
  <% for tag in @item.tags %>
  <%= tag.name %>
  <% end %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
