<% title @item.name %>
<p>
  <div class='div_item_picture'>
    <%= link_to image_tag(item_picture(@item),:class => 'item_picture'), @item.attachment.url %>
  </div>
</p>

<p>
  <%= link_to 'Dig it', dig_item_path(@item),:method => :put %>
  [<%= h @item.digged %>]
  <%= link_to 'Bury it', bury_item_path(@item),:method => :put %>
  [<%= h @item.buried %>]
<p>
  <%= @item.attachment_file_name %>
  <%= link_to 'Download', @item.attachment.url %>
</p>
<p>
  <% if @item.creator %>
  shared by: <i><%= @item.creator.username %> </i>
  <% end %>
</p>

<p>
  <%= image_tag 'tag.png',:width => 20%>
  <b>tagged with:</b>
  <% for tag in @item.tags %>
  <%= link_to tag.name, { :action => :tag, :id => tag.name} %>
  <% end %>

</p>
<p>

  <b>Description:</b>
  <div class="description">
    <pre><%=h @item.description %></pre>
  </div>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<% if current_user && current_user.username == 'admin' %>
  <%= link_to 'Destroy', @item, :confirm => 'Are you sure?', :method => :delete %>|
<% end %>
<%= link_to 'Back', items_path %>
