<% title @item.name %>
<p>
  <div class='div_item_picture'>
    <%= link_to image_tag(item_picture(@item),:class => 'item_picture'), @item.attachment.url %>
  </div>
</p>
<p>
  <%= @item.attachment_file_name %>
  <%= link_to 'Download', @item.attachment.url %>
</p>
<p>

  <b>Description:</b>
  <div class="description">
    <%=h @item.description %>
  </div>
</p>

<p>
  <%= image_tag 'tag.png',:width => 20%>
  <b>tagged with:</b>
  <% for tag in @item.tags %>
  <%= link_to tag.name, { :action => :tag, :id => tag.name} %>
  <% end %>

</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
